@media (max-width: 749px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: rgb(117, 116, 116); */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  header {
    position: relative;
    z-index: 10;
    display: flex;
    padding: 2%;
    width: 100%;
    background-color: rgb(43, 78, 236);
    backdrop-filter: blur(10px);
  }

  .logo a {
    outline: none;
    display: flex;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 2%;
  }

  .logo a p {
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 6%;
  }

  .navmain {
    padding: 5px 8px;
    width: 100%;
  }

  .openbtn {
    position: relative;
    float: right;
    width: 40px;
    outline-style: none;
    border-style: none;
    background: none;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
  }

  .closebtn {
    position: absolute;
    top: -0.2%;
    right: 12%;
    font-size: 60px;
    color: #2b4eec;
    text-decoration: none;
  }

  .sidebar {
    height: 100vh;
    width: 0%;
    position: fixed;
    /* z-index: 10; */
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidebar ul {
    list-style: none;
  }

  .sidebar ul li {
    padding-top: 60px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #2b4eec;
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: #fff;
    background-color: #2b4eec;
  }

  .content {
    min-height: calc(100vh - 35vh);
    z-index: -1;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 5%;
    padding: 2%;
    transition: 0.4s ease-in-out;
  }

  .intro:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }

  .intro p {
    padding: 2%;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 5%;
  }

  .intro a {
    text-decoration: none;
    display: flex;
    font-size: 20px;
    color: #000;
    padding: 2% 4%;
    margin-bottom: 10%;
    transition: 0.4s ease-in-out;
  }

  .intro a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: #000;
    color: #fff;
    box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 42, 164);
    padding: 2%;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: #fff;
    letter-spacing: 2px;
  }

  .social {
    /* background-color: rgb(167, 22, 22); */
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .social a {
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
  }

  #f {
    padding: 12px 12px 10px 12px;
    /* color: #0853f7; */
    color: #fff;
  }

  #i {
    padding: 12px 12px 10px 12px;
    color: #fa019a;
  }

  #t {
    padding: 12px 11px 10px 11px;
    color: #00acee;
  }
}

@media (max-width: 395px) {
  .intro {
    margin-top: 20%;
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.4); */
    border-radius: 15px;
  }

  .intro a {
    text-decoration: none;
    display: flex;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 0px 55px 10px 35px;
    box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.2);
    padding: 2% 4%;
    margin-bottom: 10%;
    transition: 0.4s ease-in-out;
  }
}
