@media (max-width: 749px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: rgb(117, 116, 116); */
  }

  body::-webkit-scrollbar {
    display: none;
  }

  header {
    position: relative;
    z-index: 10;
    display: flex;
    padding: 2%;
    width: 100%;
    background-color: rgb(43, 78, 236);
    backdrop-filter: blur(10px);
  }

  .logo a {
    outline: none;
    display: flex;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 2%;
  }

  .logo a p {
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 6%;
  }

  .navmain {
    padding: 5px 8px;
    width: 100%;
  }

  .openbtn {
    position: relative;
    float: right;
    width: 40px;
    outline-style: none;
    border-style: none;
    background: none;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
  }

  .closebtn {
    position: absolute;
    top: -0.2%;
    right: 12%;
    font-size: 60px;
    color: #2b4eec;
    text-decoration: none;
  }

  .sidebar {
    height: 100vh;
    width: 0%;
    position: fixed;
    /* z-index: 10; */
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidebar ul {
    list-style: none;
  }

  .sidebar ul li {
    padding-top: 60px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #2b4eec;
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: #fff;
    background-color: #2b4eec;
  }

  .content {
    min-height: calc(100vh - 37vh);
    z-index: -1;
  }

  #searchbar {
    z-index: 5;
    text-align: center;
    padding: 6% 0 4% 0;
    position: sticky;
    top: 0;
    /* box-shadow: 10px 0 0 0 50px 0 rgb(43, 78, 236); */
    background: linear-gradient(
      180deg,
      rgba(43, 78, 236, 1),
      rgba(43, 78, 236, 0.8),
      rgba(43, 78, 236, 0.6),
      rgba(43, 78, 236, 0.4),
      rgba(43, 78, 236, 0.2),
      rgba(43, 78, 236, 0)
    );
    backdrop-filter: blur(1px);
  }

  #searchbar input {
    border-style: none;
    outline: none;
    padding: 1.5% 12%;
    text-align: center;
    font-size: 16px;
    /* background-color: red; */
    border-radius: 50px;
  }

  /* .container {
    position: relative;
    z-index: -1;
  } */

  .cards {
    margin: 2%;
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* gap: 1%; */
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8,
  .card9,
  .card10 {
    border-radius: 5px;
    padding: 10%;
    margin: 10%;
    text-align: center;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    min-height: 400px;
  }

  .searchload {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) center center no-repeat;
  }

  .sLoading {
    z-index: 2;
    opacity: 1;
    animation: rotation 2s infinite linear;
    border: 2px solid #000;
    border-radius: 50px;
    /* padding: 4px 3px; */
    width: 100px;
    background-color: #fff;
    padding: 3.5px 2px 3px 3.5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  }

  .loading {
    /* transform: rotate(360deg); */
    animation: rotation 2s infinite linear;
    margin-top: 50%;
    padding: 5px;
    z-index: -1;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .card1:hover,
  .card2:hover,
  .card3:hover,
  .card4:hover,
  .card5:hover,
  .card6:hover,
  .card7:hover,
  .card8:hover,
  .card9:hover,
  .card10:hover {
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }

  .dashimg {
    width: 100%;
  }

  .searchInfo {
    padding: 3%;
    /* display: grid; */
    grid-gap: 0px;
    text-align: center;
  }

  .poster {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 2%;
    margin: 10px;
  }

  .poster img {
    width: 50%;
    height: auto;
  }

  .title {
    grid-column: 1 / span 2;
    grid-row: 2;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }

  .rated {
    grid-column: 3;
    grid-row: 2;
    /* background-color: rgb(211, 12, 12); */
    padding: 2%;
    margin: 10px;
  }

  .rated h3 {
    border: 2px solid red;
    padding: 4% 8%;
    color: red;
    border-radius: 5px;
  }

  .ratings {
    grid-column: 1;
    grid-row: 3;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }
  .year {
    grid-column: 2;
    grid-row: 3;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }
  .release {
    grid-column: 3;
    grid-row: 3;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }
  .director {
    grid-column: 1 / span 3;
    grid-row: 4;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }
  .writer {
    grid-column: 1 / span 3;
    grid-row: 5;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }
  .genre {
    grid-column: 1;
    grid-row: 6;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
    text-align: center;
  }
  .lang {
    grid-column: 2;
    grid-row: 6;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }
  .country {
    grid-column: 3;
    grid-row: 6;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
  }
  .actors {
    grid-column: 1 / span 3;
    grid-row: 7;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
    text-align: left;
  }
  .plot {
    grid-column: 1 / span 3;
    grid-row: 8;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
    text-align: left;
  }
  .awards {
    grid-column: 1 / span 3;
    grid-row: 9;
    /* background-color: #d4d4d4; */
    padding: 2%;
    margin: 10px;
    text-align: left;
  }

  .title,
  .ratings,
  .year,
  .release,
  .director,
  .writer,
  .genre,
  .lang,
  .country {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(43, 78, 236, 0.2);
    border-radius: 5px;
  }

  .rated {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .actors,
  .plot,
  .awards {
    text-align: left;
    border: 1px solid rgba(43, 78, 236, 0.2);
    border-radius: 5px;
  }

  .title:hover,
  .ratings:hover,
  .year:hover,
  .release:hover,
  .director:hover,
  .writer:hover,
  .genre:hover,
  .lang:hover,
  .country:hover,
  .actors:hover,
  .plot:hover,
  .awards:hover {
    background-color: rgba(43, 78, 236, 0.2);
    border: 1px solid rgba(43, 78, 236, 0.5);
    border-radius: 5px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 42, 164);
    padding: 2%;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: #fff;
    letter-spacing: 2px;
  }

  .social {
    /* background-color: rgb(167, 22, 22); */
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .social a {
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.4);
  }

  #f {
    padding: 12px 12px 10px 12px;
    /* color: #0853f7; */
    color: #fff;
  }

  #i {
    padding: 12px 12px 10px 12px;
    color: #fa019a;
  }

  #t {
    padding: 12px 11px 10px 11px;
    color: #00acee;
  }
}
