/* --------------------------- Desktop Responsive --------------------------- */
@media (min-width: 396px) {
  :root {
    --primary: #fff;
    --secondary: #0057ad;
    --font: #000;
    --alt: #fff;
    --bg: #ffffff;
    --active: #00adb5;
    --white: #fff;
    --theme: #303030;
    --footer: #ebebeb;
    --alt-shadow: 1px 2px 20px 0px rgba(173, 171, 171, 0.4);
  }

  [data-theme="dark"] {
    --primary: #1c1c1c;
    --secondary: #5cadff;
    --font: #fff;
    --alt: #000;
    --bg: #393e46;
    --active: #fff;
    --white: #fff;
    --theme: #ffd700;
    --footer: #222222;
    --alt-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    user-select: none;
  }

  body {
    background-color: var(--secondary);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    background-color: var(--primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  }

  .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.8em;
    color: var(--secondary);
    cursor: pointer;
  }

  .logo a h1 {
    font-size: 1em;
    font-weight: bold;
    margin-top: -5px;
  }

  .navham {
    display: none;
  }

  .closebtn {
    display: none;
  }

  .nav {
    margin-top: 0;
  }

  .nav ul {
    list-style: none;
  }

  .nav ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav ul li a {
    text-decoration: none;
    padding: 7px 25px;
    margin: 0 10px;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.5px;
    border-radius: 50px;
    /* background-color: #000; */
    border: 1.5px solid var(--secondary);
    transition: 0.3s ease-in-out;
  }

  .nav ul li a.active {
    border-radius: 0px 55px 10px 35px;
    background-color: var(--secondary);
    color: #fff;
  }
  .nav ul li a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: var(--secondary);
    color: #fff;
  }

  .toggleHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.5em;
    margin-left: 2em;
    position: relative;
  }

  #toggle {
    cursor: pointer;
    color: var(--theme);
    position: absolute;
  }

  .mobPwa {
    display: none !important;
  }

  .pwaButton {
    display: flex;
    justify-content: space-center;
    align-items: center;
    color: var(--white);
    padding: 0.5em 1em;
    margin-left: 2em;
    background-color: var(--secondary);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
  }

  .pwaButton:hover {
    border: 1px solid var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
    box-shadow: 0 0 5px 0 var(--secondary);
  }

  .insIco {
    padding-top: 0.1em;
    font-size: 20px;
  }

  .insTxt {
    margin-left: 0.6em;
    font-weight: 600;
    letter-spacing: 1.1px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    /* clip-path: polygon(0% 28%, 100% 38%, 100% 100%, 0% 100%); */
    background-color: var(--primary);
  }

  .welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }

  .welcome .imgHolder{
    display: grid;
    place-items: center;
    position: relative;
    background-color: var(--secondary);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    /* box-shadow: 1px 1px 10px 0px var(--secondary); */
    z-index: 1;
  }

  .welcome .imgHolder img{
    aspect-ratio: 1.54 !important;
  }

  .welcome .imgHolder .ripple{
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background-color: var(--secondary);
    opacity: 0;
    animation: rippleAnim 1.8s infinite;
    z-index: -1;
  }

  .welcome .imgHolder .ripple:nth-child(2) {
    animation-delay: .45s;
  }

  @keyframes rippleAnim {
    0% {
      opacity: 1;
      transform: scale(0);
    }
  
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  .welcome h2{
    margin: 3em 0;
    color: var(--font);
    font-size: 2em;
  }

  .intro {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 1em 2em;
    transition: 0.4s ease-in-out;
  }

  .intro:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }

  .intro p {
    padding: 2%;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--font);
  }

  .intro .intro-Links{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro .intro-Links a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--font);
    padding: 0.5em 1em;
    margin: 1em;
    transition: 0.4s ease-in-out;
  }

  .intro .intro-Links a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: var(--font);
    color: var(--alt);
    box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .myapps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
    width: 100%;
  }

  .app-title h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    border-bottom: 2px solid var(--font);
    color: var(--font);
    width: 120%;
  }

  .tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }

  @media (max-width: 1196px) {
    /* If screen size is less than 1196px, then show 2 card in row */
    .tiles {
      grid-template-columns: repeat(2, 1fr);
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      /* clip-path: polygon(0% 28%, 100% 35%, 100% 100%, 0% 100%); */
      background-color: var(--primary);
    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5% 20%;
      padding: 3em 4em;
      transition: 0.4s ease-in-out;
    }
  }

  @media (max-width: 750px) {
    /* If screen size is less than 750px, then show 1 card in row */
    .tiles {
      grid-template-columns: repeat(1, 1fr);
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      /* clip-path: polygon(0% 28%, 100% 33%, 100% 100%, 0% 100%); */
      background-color: var(--primary);
    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5% 10%;
      padding: 3em 4em;
      transition: 0.4s ease-in-out;
    }
  }

  .tiles .tile{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font);
    border-radius: 10px;
    text-align: center;
    transition: 0.4s ease-in-out;
  }

  .tiles .tile:hover{
    box-shadow: var(--alt-shadow);
  }

  .appTitle {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0.5em 0;
  }

  /* Code language Stye */
  .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
  }

  .lang i {
    padding: 0.5em;
    font-size: 1.5em;
  }

  .html {
    color: #e34c26;
  }

  .css {
    color: #264de4;
  }

  .js {
    color: #e0c61e;
  }

  .react {
    color: #139eb9;
  }

  .php {
    color: #474a8a;
  }

  .sql {
    color: #474a8a;
  }
  
  .node{
    color: #6cc24a;
  }

  footer {
    /* border: 5px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    padding: 2%;
    margin-top: -0.5%;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: var(--font);
  }

  .social {
    /* background-color: rgb(167, 22, 22); */
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .social a {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    transition: 0.5s ease-in-out;
  }

  .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
  }

  #f i {
    color: #3b5998;
    padding: 3px 1.5px 0px 1.5px;
  }
  #i i {
    color: #e1306c;
    padding: 3px 4px 0.9px 3.5px;
  }
  #t i {
    color: #00acee;
    padding: 3px 1.5px 0px 1.5px;
  }
}
