/* --------------------------- Mobile Responsive --------------------------- */
@media (max-width: 395px) {
  :root {
    --primary: #fff;
    --secondary: #0057ad;
    --icon: brightness(0) saturate(100%) invert(15%) sepia(80%) saturate(3397%) hue-rotate(199deg) brightness(105%) contrast(100%);
    --icon-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(243deg) brightness(103%) contrast(101%);
    --font: #000;
    --alt: #fff;
    --bg: #ffffff;
    --active: #00adb5;
    --white: #fff;
    --theme: #303030;
    --footer: #ebebeb;
    --alt-shadow: 1px 2px 20px 0px rgba(173, 171, 171, 0.4);
  }

  [data-theme="dark"] {
    --primary: #1c1c1c;
    --secondary: #5cadff;
    --icon: brightness(0) saturate(100%) invert(60%) sepia(86%) saturate(1289%) hue-rotate(184deg) brightness(98%) contrast(107%);
    --font: #fff;
    --alt: #000;
    --bg: #1d1d1d;
    --active: #fff;
    --white: #fff;
    --theme: #ffd700;
    --footer: #222222;
    --alt-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    user-select: none;
  }

  #mTheme {
    transition: 0.5s ease-in-out;
  }

  body {
    background-color: var(--secondary);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--primary);
    /* top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); */
  }

  .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5em;
    color: var(--secondary);
    cursor: pointer;
  }

  .logo a img{
    filter: var(--icon);
  }

  .logo a h1 {
    font-size: 1em;
    font-weight: bold;
    margin-top: -5px;
  }

  .navham {
    position: absolute;
    right: 1.5em;
  }

  .openbtn {
    outline-style: none;
    border: none;
    background: none;
    font-size: 35px;
    font-weight: 900;
    color: var(--secondary);
  }

  .closebtn {
    position: absolute;
    top: 0.3em;
    right: 1em;
    font-size: 75px;
    color: var(--secondary);
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
  }

  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--bg);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.3s;
  }
  .sidebar ul li {
    padding-top: 80px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: var(--secondary);
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: var(--white);
    background-color: var(--secondary);
  }

  .toggleHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    position: relative;
  }

  #toggle {
    font-size: 3em;
    cursor: pointer;
    color: var(--theme);
    position: absolute;
  }

  .deskPwa {
    display: none !important;
  }

  .pwaButtonHolder {
    position: absolute;
    left: 0;
    top: 4.2em;
    width: 100%;
    padding: 0.5em 0.6em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--footer);
    color: var(--font);
    z-index: 2;
  }

  .closePwa {
    text-decoration: none;
    font-size: 3em;
    padding: 0 0.2em;
    color: var(--font);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  .txtPwa {
    font-size: 1em;
    font-weight: 600;
  }

  .pwaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--white);
    background-color: var(--secondary);
    padding: 0.5em;
    cursor: pointer;
    border-radius: 5px;
  }

  .insIco {
    padding-top: 0.1em;
    font-size: 20px;
  }

  .insTxt {
    font-weight: 600;
    letter-spacing: 1.1px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    background-color: var(--bg);
  }

  .welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
  }

  .welcome .imgHolder{
    display: grid;
    place-items: center;
    position: relative;
    background-color: var(--secondary);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: 1;
    color: var(--primary);
  }

  .welcome .imgHolder img{
    filter: var(--icon-white);
    width: 100%;
    height: 100%;
    padding: 2em;
  }

  /* .welcome .imgHolder img{
    width: 162px !important;
    height: 105px !important;
  } */

  .welcome .imgHolder .ripple{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: var(--secondary);
    opacity: 0;
    animation: rippleAnim 1.8s infinite;
    z-index: -1;
  }

  .welcome .imgHolder .ripple:nth-child(2) {
    animation-delay: .45s;
  }

  @keyframes rippleAnim {
    0% {
      opacity: 1;
      transform: scale(0);
    }
  
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  .welcome h2{
    margin-top: 6em;
    color: var(--font);
    font-size: 2em;
  }

  .intro {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    padding: 1em;
    box-shadow: var(--alt-shadow);
    border-radius: 10px;
  }

  .intro p {
    padding: 2%;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 5%;
    color: var(--font);
  }

  .intro .intro-Links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .intro .intro-Links a {
    text-decoration: none;
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 0.5em 1em;
    border-radius: 50px;
    background-color: var(--font);
    color: var(--alt);
    cursor: pointer;
  }

  .intro .intro-Links a img{
    width: 30px;
    height: 30px;
  }

  .myapps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    width: 100%;
  }

  .app-title h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    border-bottom: 2px solid var(--font);
    color: var(--font);
    width: 100%;
  }

  .tiles {
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 2%;
  }

  .tile {
    width: 90%;
    padding: 8% 3%;
    margin: 4% 3%;
  }

  .tiles .tile{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font);
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--alt-shadow);
  }

  .appTitle {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0.5em 0;
  }

  /* Code language Stye */
  .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
  }

  .lang i {
    padding: 0.5em;
    font-size: 1.5em;
  }

  .html {
    color: #e34c26;
  }

  .css {
    color: #264de4;
  }

  .js {
    color: #e0c61e;
  }

  .react {
    color: #139eb9;
  }

  .php {
    color: #474a8a;
  }

  .sql {
    color: #474a8a;
  }

  .node{
    color: #6cc24a;
  }

  footer {
    /* border: 5px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    padding: 5%;
    margin-top: -0.5%;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: var(--font);
  }

  .social {
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .social a {
    text-decoration: none;
    border-radius: 50px;
  }

  #f {
    padding: 12px 12px 10px 12px;
    color: #3b5998;
  }

  #i {
    padding: 12px 12px 10px 12px;
    color: #e1306c;
  }

  #t {
    padding: 12px 11px 10px 11px;
    color: #00acee;
  }
}
