/* --------------------------- Mobile Responsive --------------------------- */
@media (max-width: 395px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  body {
    background-color: yellow;
  }

  /* .clip-img {
    width: 100%;
    position: fixed;
    background-image: url(./assets/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow-y: hidden;
  } */

  header {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  }

  .logo a {
    text-decoration: none;
    padding-left: 20%;
  }

  .logo a i {
    display: inline-flex;
    color: #000;
    font-size: 22px;
  }

  .navham {
    display: flex;
    position: absolute;
    right: 7%;
    top: -1%;
    height: 100%;
  }

  .openbtn {
    outline-style: none;
    border: none;
    background: none;
    font-size: 35px;
    font-weight: 900;
  }

  #closebtn {
    position: absolute;
    top: -3%;
    right: 13.5%;
    font-size: 75px;
    color: #000;
  }

  .closebtn {
    font-size: 60px;
    text-decoration: none;
    color: #000;
    position: relative;
    top: 0;
    right: 20px;
  }

  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidebar ul li {
    padding-top: 60px;
  }

  .sidebar ul li a {
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #000;
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: #fff;
    background-color: #000;
  }

  .container {
    /* border: 2px solid black; */
    /* z-index: -1; */
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 230%;
    margin-top: -90%;
    clip-path: polygon(0% 28%, 100% 32%, 100% 100%, 0% 100%);
    background-color: #fff;
  }

  .intro {
    /* border: 0.2px solid black; */
    /* z-index: -2;  */
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px; */
    /* transition: 0.3s ease-in-out; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50% 6% 0 6%;
    padding: 3% 5% 6% 5%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  /* .intro:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  } */

  .intro p {
    /* border: 2px solid #fff; */
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25); */
    /* border-radius: 15px; */
    padding: 2%;
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 5%;
  }

  .intro a {
    /* transition: 0.4s ease-in-out; */
    /* color: #000; */
    text-decoration: none;
    display: flex;
    font-size: 14px;
    padding: 2% 4%;
    border-radius: 0px 55px 10px 35px;
    background-color: #000;
    color: #fff;
    box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  /* .intro a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: #000;
    color: #fff;
    box-shadow: 3px 6px 30px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  } */

  .myapps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    width: 100%;
  }

  .app-title p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    border-bottom: 2px solid #000;
    width: 100%;
  }

  .tiles {
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 2%;
  }

  .tile1,
  .tile2,
  .tile3,
  .tile4,
  .tile5,
  .tile6 {
    /* border: 1px solid black; */
    /* float: left; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* transition: 0.2s ease-in-out; */
    width: 90%;
    padding: 8% 3%;
    margin: 4% 3%;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  }

  /* .tile1:hover,
  .tile2:hover,
  .tile3:hover,
  .tile4:hover,
  .tile5:hover,
  .tile6:hover {
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  } */

  .tile1 a,
  .tile2 a,
  .tile3 a,
  .tile4 a,
  .tile5 a,
  .tile6 a {
    color: #000;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tile1 a i {
    color: rgb(6, 122, 255);
    display: flex;
    justify-content: center;
  }

  .tile2 a i {
    color: rgb(143, 55, 14);
    display: flex;
    justify-content: center;
  }

  .tile3 a i {
    color: rgb(255, 155, 6);
    display: flex;
    justify-content: center;
  }

  .tile4 a {
    /* color: rgb(6, 122, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tile5 a i {
    color: rgb(20, 73, 134);
    display: flex;
    justify-content: center;
  }

  /* .tile6 a i {
    color: rgb(6, 122, 255);
    display: flex;
    justify-content: center;
  } */

  .tile1 a p,
  .tile2 a p,
  .tile3 a p,
  .tile4 a p,
  .tile5 a p,
  .tile6 a p {
    margin-top: 2%;
  }

  footer {
    /* border: 5px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5%;
    margin-top: -0.5%;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
  }

  .social {
    /* background-color: rgb(167, 22, 22); */
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .social a {
    /* transition: 0.5s ease-in-out; */
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  }

  /* .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  } */

  #f {
    padding: 10px;
    color: #3b5998;
  }

  #i {
    padding: 10px 12px;
    color: #e1306c;
  }

  #t {
    padding: 10px;
    color: #00acee;
  }
}
